# History files
.Rhistory
.RData
.Rproj.user
.Ruserdata

# macOS hidden file
.DS_Store


# fastq file
data/raw/fastq
# ignore whole directory
*.fastq.gz
# ignore all files ending in .fastq.gz
*.fastq
# ignore all files ending in .fastq